* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #63645f;
  padding-top: 200px;
}

header {
  font-size: 28px;
  font-weight: bold;
  padding: 30px 10px;
  margin-left: 750px;
}

.form-campo {
  max-width: 960px;
  width: 500px;
  margin: 0 auto;
}

input {
  font-size: 24px;
  background-color: rgb(224, 224, 224);
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.575);
  padding: 10px;
}

input,
button {
  padding: 10px;
  margin-left: 26px;
}

button {
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 20px 0;
  border: none;
  background-color: #119759;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  border-radius: 6px;
}

form button {
  max-width: 120px;
  margin-left: 800px;
}

.form-campo {
  margin-bottom: 16px;
}

.form-campo label {
  font-weight: bold;
  display: block;
}

.form-campo input,
.form-campo textarea {
  width: 100%;
  display: block;
  padding: 8px;
}
